.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(#00ffff 0deg, #D20094 0deg);
    position: relative;
    animation: countdown;
    animation-duration: 5s;
    animation-timing-function: linear;
}

.timer::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.z-index {
    z-index: 999;
}
